<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajuda.í</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.slim.js"></script>
</head>
<body>
    @if (TempData["Mensagem-Erro"] != null || TempData["Mensagem-Sucesso"] != null)
    {
        @Html.Partial("_PartialMensagem");
    }
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <a class="navbar-brand mr-5" href="@Url.Action("Index","Cliente")">Ajuda.í</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="@Url.Action("Index","Cliente")">Meus Chamados</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="@Url.Action("AbrirChamado","Chamado")">Abrir Chamado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("AlterarDados","Cliente")">Alterar Dados</a>
                </li>
            </ul>
            <div class="ml-auto mr-3 text-light">
                Olá <strong>@Session["ssLogin"]</strong>
            </div>
            <a class="btn btn-light my-2 my-sm-0" href="@Url.Action("Sair","Login")">Sair</a>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        @RenderBody()
    </main>
    
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/offcanvas.js"></script>
</body>
</html>
